<style>
    .nav-menu li > ul li a {
        color: #b7c1d2;
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        -webkit-opacity: 0.8;
        opacity: 0.8;
        padding:10px;
        padding-left:40px;
    }
</style>

<ul class="nav flex-column nav-custom nav-menu" style="float: left;width: 50px;">
    <li class="nav-item active">
        <a class="nav-link active" data-toggle="pill" href="#simontana">
            <div style="text-align: center;">
                <i class="fal fa-analytics" style="font-size: 20px;"></i>
                <label>OSMOSYS</label>
            </div>
        </a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content nav-custom" style="color: white;margin-left: 50px;">
    <div class="tab-pane container active" id="omni">
        <ul class="nav-menu js-nav-menu">
            <li>
                <a href="@Url.Action("Index", "MainPage")" title="" data-filter-tags="Home">
                    <i class="fal fa-home"></i>
                    <span class="nav-link-text" data-i18n="account.index">Home</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")" title="" data-filter-tags="LLP">
                    <i class="fal fa-book"></i>
                    <span class="nav-link-text" data-i18n="account.index">Data Lokasi</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "LLPHistoryStatus")" title="" data-filter-tags="Rental / Maintenance History">
                    <i class="fal fa-history"></i>
                    <span class="nav-link-text" data-i18n="account.index">History Rental/Maintenance</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Lampiran")" title="" data-filter-tags="LLP">
                    <i class="fal fa-file"></i>
                    <span class="nav-link-text" data-i18n="account.index">Lampiran Surat</span>
                </a>
            </li>

            @if (ViewBag.EnableUserAccess)
            { 
                <li>
                    <a href="#" title="Dashboard" data-filter-tags="dashboard">
                        <i class="fal fa-list"></i>
                        <span class="nav-link-text" data-i18n="dashboard.dashboarduw">Master Data</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "PeralatanOSR")" title="Peralatan OSR" data-filter-tags="peralatan osr">
                                <span class="nav-link-text" data-i18n="peralatanOSR.index">Peralatan OSR</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Kondisi")">
                                <span class="nav-link-text" data-i18n="Jenis.index">Kondisi</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "RekomendasiType")" title="Rekomendasi Type">
                                <span class="nav-link-text" data-i18n="peralatanOSR.index">Rekomendasi Type</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Dashboard" data-filter-tags="dashboard">
                                <i class="fal fa-list"></i>
                                <span class="nav-link-text" data-i18n="master.jenis">Jenis</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Jenis")" title="Jenis" data-filter-tags="jenis">
                                        <span class="nav-link-text" data-i18n="Jenis.index">Master Jenis</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "SpesifikasiJenis")">
                                        <span class="nav-link-text" data-i18n="Jenis.index">Spesifikasi / Jenis</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "RekomendasiJenis")" title="Rekomendasi Jenis">
                                        <span class="nav-link-text" data-i18n="peralatanOSR.index">Rekomendasi Jenis</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" title="Dashboard" data-filter-tags="dashboard">
                                <i class="fal fa-list"></i>
                                <span class="nav-link-text" data-i18n="master.latihan">Latihan</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Latihan")" is-active-route title="Latihan" data-filter-tags="latihan">
                                        <span class="nav-link-text" data-i18n="latihan.index">Master Latihan</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "RekomendasiLatihan")" title="Rekomendasi Latihan">
                                        <span class="nav-link-text" data-i18n="peralatanOSR.index">Rekomendasi Latihan</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" title="Dashboard" data-filter-tags="dashboard">
                                <i class="fal fa-list"></i>
                                <span class="nav-link-text" data-i18n="master.personil">Personil</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Personil")" is-active-route title="Personil" data-filter-tags="personil">
                                        <span class="nav-link-text" data-i18n="personil.index">Master Personil</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "RekomendasiPersonil")" title="Rekomendasi Personil">
                                        <span class="nav-link-text" data-i18n="peralatanOSR.index">Rekomendasi Personil</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            }
                
                @if (ViewBag.EnableUserAccess)
                {
                    <li>
                        <a href="#" title="Dashboard" data-filter-tags="dashboard">
                            <i class="fal fa-users"></i>
                            <span class="nav-link-text" data-i18n="master.personil">User Access</span>
                        </a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "GuestLocation")" title="" data-filter-tags="guestlocation">
                                    <span class="nav-link-text" data-i18n="account.index">Guest Location</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "AdminLocation")" title="" data-filter-tags="adminlocation">
                                    <span class="nav-link-text" data-i18n="account.index">Admin Location</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

            </ul>
    </div>
</div>

