@{
    ViewData["Title"] = "Lampiran Surat";
    ViewData["PageName"] = "Lampiran";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-table'></i>  Surat";
    ViewData["PageDescription"] = "Halaman pengelolaan data Lampiran Surat Penilaian, Pengesahan dan Verifikasi Perpanjangan Surat Pengesahan";
}

@model OMNI.Web.Models.HomeModel

<div class="row">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="">Select Lokasi - @ViewBag.RegionTxt</label>
                    <select asp-for="Port" id="port" class="select2-input-index"
                            asp-items="@(new SelectList(ViewBag.PortList, "Name","Name"))">
                    </select>
                </div> <br />
            </div>
            @*<div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label" for="">Select Year</label>
                        <select name="Year" id="year-lokasi" class="select2-input-index"
                                asp-items="@(new SelectList(ViewBag.YearList, "Name","Name"))">
                        </select>
                    </div> <br />
                </div>*@
            <div class="col-md-2">
                <div class="form-group">
                    <a href="javascript:void(0)" class="btn btn-primary" id="searchLokasi" style="margin-top: 22px;"><i class="fa fa-search"></i> Search</a>
                </div> <br />
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        @if (!string.IsNullOrEmpty(ViewBag.Info))
        {
            <i style="color:red;">@ViewBag.Info</i>
            <div style="margin-bottom: 15px;"></div>
        }

        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    List Lampiran Surat
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="panel-container show">
                        <div class="panel-content">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tab_borders_icons-1" role="tab" aria-selected="true"> Surat Penilaian</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab_borders_icons-2" role="tab" aria-selected="false"> Surat Pengesahan</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab_borders_icons-3" role="tab" aria-selected="false">Surat Perpanjangan Pengesahan</a>
                                </li>
                            </ul>
                            <div class="tab-content border border-top-0 p-3">
                                <div class="tab-pane fade active show" id="tab_borders_icons-1" role="tabpanel">
                                    <div class="row" style="padding:10px;">
                                        @if (ViewBag.Editable)
                                        {
                                            <div class="col-md-12" style="text-align:right;">
                                                <a asp-action="AddEdit" asp-route-port="@ViewBag.SelectedPort.Name" asp-route-lampiranType="PENILAIAN" class="btn btn-primary btn-sm btn-xs shadow-0 pull-right" data-toggle="modal" data-target="#modal-add-edit"><i class="fal fa-plus"></i>  Add</a>
                                            </div>
                                        }
                                        </div>
                                    <table id="table_surat_penilaian" class="table table-borderless table-hover table-striped w-100">
                                        <thead>
                                            <tr class="fw-500 text-uppercase">
                                                <th style="width:7%;">No</th>
                                                <th>Perihal Surat</th>
                                                <th>Tanggal Surat Keluar</th>
                                                <th>Uploaded By</th>
                                                <th>Uploaded At</th>
                                                <th class="text-center" style="width:10%;">Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="tab_borders_icons-2" role="tabpanel">
                                    <div class="row" style="padding:10px;">
                                        <div class="col-md-12" style="text-align:right;">
                                            @if (ViewBag.EnablePengesahan)
                                            {
                                                <a asp-action="AddEdit" asp-route-port="@ViewBag.SelectedPort.Name" asp-route-lampiranType="PENGESAHAN" class="btn btn-primary btn-sm btn-xs shadow-0 pull-right" data-toggle="modal" data-target="#modal-add-edit"><i class="fal fa-plus"></i>  Add</a>
                                            }
                                        </div>
                                    </div>
                                    <table id="table_surat_pengesahan" class="table table-borderless table-hover table-striped w-100">
                                        <thead>
                                            <tr class="fw-500 text-uppercase">
                                                <th style="width:7%;">No</th>
                                                <th>Perihal Surat</th>
                                                <th>Tanggal Surat Keluar</th>
                                                <th>Uploaded By</th>
                                                <th>Uploaded At</th>
                                                <th class="text-center" style="width:10%;">Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="tab_borders_icons-3" role="tabpanel">
                                    <div class="row" style="padding:10px;">
                                        <div class="col-md-12" style="text-align:right;">
                                            @if (ViewBag.EnableVerifikasi1)
                                            {
                                                <a asp-action="AddEdit" asp-route-port="@ViewBag.SelectedPort.Name" asp-route-lampiranType="VERIFIKASI1" class="btn btn-primary btn-sm btn-xs shadow-0 pull-right" data-toggle="modal" data-target="#modal-add-edit"><i class="fal fa-plus"></i> Verifikasi Pertama</a>
                                            }
                                            @if (ViewBag.EnableVerifikasi2)
                                            {
                                                <a asp-action="AddEdit" asp-route-port="@ViewBag.SelectedPort.Name" asp-route-lampiranType="VERIFIKASI2" class="btn btn-info btn-sm btn-xs shadow-0 pull-right" data-toggle="modal" data-target="#modal-add-edit"><i class="fal fa-plus"></i> Verifikasi Kedua</a>
                                            }
                                        </div>
                                    </div>
                                    <table id="table_verifikasi_surat" class="table table-borderless table-hover table-striped w-100">
                                        <thead>
                                            <tr class="fw-500 text-uppercase">
                                                <th style="width:7%;">No</th>
                                                <th>Perihal Surat</th>
                                                <th>Tanggal Surat Keluar</th>
                                                <th>Status</th>
                                                <th>Uploaded By</th>
                                                <th>Uploaded At</th>
                                                <th class="text-center" style="width:10%;">Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_Modal", new ModalViewModel { ID = "modal-add-edit", Type = ModalType.Right, Size = ModalSize.Medium })
@await Html.PartialAsync("_Modal", new ModalViewModel { ID = "modal-file", Type = ModalType.Right, Size = ModalSize.Medium })
@section ScriptsBlock {
    <script src="~/js/datatable/datatable.js"></script>
    <script>
        var trxId = 0;
        var port = "@ViewBag.SelectedPort.Name";
        //var selectedYear = parseInt("@ViewBag.ThisYear");

        console.log(port);

        $('.select2-input-index').select2();

        //$("#year-lokasi").val(selectedYear).change();

            if (port !== null && port !== "") {
                $("#port").val(port).change();
        }

        //$("#year-lokasi").on('change', function () {
        //    selectedYear = this.value;
        //});

            $("#port").on('change', function () {
                port = this.value;
            });

        $("#searchLokasi").click(function () {
            window.location.href = base_api + 'Lampiran/Index?port=' + port;
        })
    </script>
    <script src="~/js/frontend/suratPenilaian.js"></script>
    <script src="~/js/frontend/suratPengesahan.js"></script>
    <script src="~/js/frontend/verifikasiPengesahan.js"></script>
}
