@model OMNI.Web.Models.Master.PersonilTrxModel

<form id="form-akun" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Form Add/Edit Personil " })

    <div class="modal-body">
        @Html.HiddenFor(b => b.Id)

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="form-label" for="">Personil</label>
                    <select name="Personil" asp-for="Personil" id="personil" class="select2-input"
                            asp-items="@(new SelectList(ViewBag.PersonilList, "Id","Name"))" required>
                    </select>
                    <input type="hidden" name="Port" asp-for="Port" />
                    <input type="hidden" name="Year" asp-for="Year" />

                    <input type="hidden" name="UpdatedBy" asp-for="UpdatedBy" id="updatedBy" />
                    <input type="hidden" name="CreatedBy" asp-for="UpdatedBy" id="createdBy" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="">Satuan</label>
                    <input type="text" id="satuan" asp-for="Satuan" name="Satuan" class="form-control" readonly>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="">Rekomendasi Hubla</label>
                    <input type="text" id="rekomendasiHubla" asp-for="RekomendasiHubla" name="RekomendasiHubla" class="form-control" readonly>
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label" for="">Nama Personil</label>
                    <input type="text" id="name" asp-for="Name" name="Name" class="form-control" required>
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label" for="">Tanggal Pelatihan</label>
                    <input type="text" id="tanggalPelatihan" asp-for="TanggalPelatihan" name="TanggalPelatihan" class="form-control datepicker" style="width: 100% !important;" required readonly>
                </div>
            </div>
            @*<div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="">Tanggal Expired</label>
                    <input class="form-control datepicker" type="text" name="TanggalExpired" asp-for="TanggalExpired" style="width: 100% !important;" readonly/>
                </div>
            </div>*@
        </div><br />

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label" for="">Upload Sertifikat</label>
                    <input type="file" name="Files" class="form-control" asp-for="Files" multiple />
                </div>
            </div>
        </div><br />
    </div>

    @await Html.PartialAsync("_ModalFooter")
</form>

<script type="text/javascript">
    $(document).ready(function () {

        $("#updatedBy").val(userData.username);
        $("#createdBy").val(userData.username);

        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-10:+10"
        });

        var selectedPersonil = $("#personil").val();
        var port = "@ViewBag.Port";
        var year = parseInt("@ViewBag.Year");

        if (selectedPersonil > 0) {
            
            $.ajax({
                url: base_api + "Personil/GetById?id=" + selectedPersonil,
                method: "GET",
                success: function (result) {
                    if (result.data != null) {
                        $("#satuan").val(result.data.satuan);
                    }
                }, complete: function () {
                    $.ajax({
                        url: base_api + "Home/GetRekomendasiPersonilByPersonilId?id=" + selectedPersonil + "&port=" + port + "&year=" + year,
                        method: "GET",
                        success: function (result) {
                            if (result.data !== null) {
                                //$("#satuan").val(result.data.personil.satuan);
                                $("#rekomendasiHubla").val(result.data.value);
                            }
                        }, complete: function () {

                        }
                    });
                }
            });
        }

        $("#personil").on('change', function () {
            selectedPersonil = this.value;
            $.ajax({
                url: base_api + "Personil/GetById?id=" + selectedPersonil,
                method: "GET",
                success: function (result) {
                    if (result.data != null) {
                        $("#satuan").val(result.data.satuan);
                    }
                }, complete: function () {
                    $.ajax({
                        url: base_api + "Home/GetRekomendasiPersonilByPersonilId?id=" + selectedPersonil + "&port=" + port + "&year=" + year,
                        method: "GET",
                        success: function (result) {
                            if (result.data !== null) {
                                $("#rekomendasiHubla").val(result.data.value);
                            }
                        }, complete: function () {

                        }
                    });
                }
            });
        });

        $('.select2-input').select2({
            dropdownParent: $('#modal-add-edit')
        });

        $(document).on('submit', '#form-akun', function () {
        var form = $('#form-akun');
        var validation = Array.prototype.filter.call(form, function (form) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            else {
                event.preventDefault();
                var param = new FormParam(
                    form,
                    "Apakah Anda yakin ingin menyimpan akun ini?",
                    '@Url.Action("AddEditPersonilTrx")',
                    null,
                    '#modal-add-edit',
                    '#table_personil_trx'
                );
                initApp.formSubmit(param);
            }
            form.classList.add('was-validated');
        });
    });
    });

</script>
