@model OMNI.Web.Models.Master.LLPTrxModel

<style>
    .qr-code-generator {
        width: 500px;
        margin: 0 auto;
    }

        .qr-code-generator * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    #qrcode {
        width: 128px;
        height: 128px;
        margin: 0 auto;
        text-align: center;
    }

        #qrcode a {
            font-size: 0.8em;
        }

    .generate-qr-code {
        display: block;
        width: 100%;
        margin: 0.5em 0 0;
        padding: 0.25em;
        font-size: 1.2em;
        border: none;
        cursor: pointer;
        background-color: #e5554e;
        color: #fff;
    }

    canvas {
        height: 100px;
        width: 100px;
    }

    #upload-label {
        color: darkred;
        font-size: 12px;
    }
</style>

<form id="form-akun" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Form Add/Edit LLP " })

    <div class="modal-body">
        @Html.HiddenFor(b => b.Id)

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="">Peralatan OSR</label>
                    <select name="PeralatanOSR" asp-for="PeralatanOSR" id="peralatanOSR" class="select2-input"
                            asp-items="@(new SelectList(ViewBag.PeralatanOSRList, "Id","Name"))" required>
                    </select>
                    <input type="hidden" name="Port" asp-for="Port" />
                    <input type="hidden" name="Year" asp-for="Year" />
                    <input type="hidden" name="Status" asp-for="Status" value="STAND BY"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="">Select Spesifikasi / Jenis</label>
                    <select name="Jenis" asp-for="Jenis" id="jenis" class="select2-input">
                    </select>
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="">Kondisi</label>
                    <select name="Kondisi" asp-for="Kondisi" id="kondisi" class="select2-input"
                            asp-items="@(new SelectList(ViewBag.KondisiList, "Name","Name"))">
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="">Detail Existing di Lokasi</label>
                    <input class="form-control" type="number" name="DetailExisting" asp-for="DetailExisting" />
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="">Brand</label>
                    <input class="form-control" name="Brand" asp-for="Brand" required/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="">Serial Number</label>
                    <input class="form-control" name="SerialNumber" asp-for="SerialNumber" required/>
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label" for="">Upload Gambar <i id="upload-label">(*jpeg, *png, *pdf)</i></label>
                    <input type="file" name="Files" id="files" class="form-control" asp-for="Files" multiple accept="image/jpeg,image/png,application/pdf"/>
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label" for="">Remark</label>
                    <textarea class="form-control" asp-for="Remark"></textarea>
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="">Inventory Code</label>
                    <input type="text" id="kodeInventory" asp-for="KodeInventory" class="form-control" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="">Select Year</label>
                    <select name="Year" id="year" class="select2-input"
                            asp-items="@(new SelectList(ViewBag.YearList, "Name","Name"))">
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="">Region Code</label>
                    <input type="text" value="@ViewBag.Region" id="region" class="form-control" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="">No Aset</label>
                    <input type="text" value="" id="noAset" class="form-control" readonly>
                    <input type="hidden" id="qrcode-value" asp-for="QRCode" required />
                    <input type="hidden" id="qrcode-text" asp-for="QRCodeText" required />
                </div>
            </div>

            <div class="col-md-12">
                <br />
                <div id="qrcode"></div>
                @*<div id="canvas"></div>*@
            </div>
        </div><br />



    </div>

    @await Html.PartialAsync("_ModalFooter")
</form>
<script src="~/js/qr-code-styling.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").hide();
        var yearNow = "@ViewBag.YearNow";
        var region = "@ViewBag.Region";
        var qrCodeYear = "@ViewBag.QRCodeYear";
        var noAsset = "@ViewBag.noAsset";
        var primaryId = parseInt("@ViewBag.Id");

        if (qrCodeYear !== null && qrCodeYear !== undefined && qrCodeYear !== "") {
            console.log(qrCodeYear);
            $("#year").val(qrCodeYear).change();
        } else {
            $("#year").val(yearNow).change();
        }

        if (primaryId > 0) {
            $("#files").prop('required', false);
        } else {
            $("#files").prop('required', true);
        }

        $("#noAset").val(noAsset);

        var selectedJenisId = parseInt("@ViewBag.JenisId");
        var selectedPeralatanOSR = $("#peralatanOSR").val();

        var inventoryNumber = "";
        var kodeInventory = "";
        var region = $("#region").val();

        function getLastNoAsset() {
            $("#submit").hide();
            kodeInventory = $("#kodeInventory").val();
            inventoryNumber = kodeInventory + "-" + $("#year").val() + "-" + region;

            $.ajax({
                url: base_api + "Home/GetLastNoAsset",
                data: { inventoryNumber: inventoryNumber, primaryId: primaryId },
                method: "POST",
                success: function (result) {
                    $("#noAset").val(result.noAsset);
                }, complete: function () {
                    if ($("#noAset").val() !== null && $("#noAset").val() !== "") {
                        inventoryNumber = kodeInventory + "-" + $("#year").val() + "-" + region + "-" + $("#noAset").val();
                        $("#qrcode-text").val(inventoryNumber);
                        //$.ajax({
                        //    url: generateQRCode(),
                        //    complete: function () {
                        //        $("#qrcode-text").val(inventoryNumber);

                        //        var canvas = document.querySelector('canvas');
                        //        var pngUrl = canvas.toDataURL();

                        //        $("#qrcode-value").val(pngUrl);

                        //        $("#submit").show();
                        //    }
                        //});

                        $("#submit").show();
                    } else {
                        $("#submit").hide();
                        inventoryNumber = "";
                    }
                }
            });
        }

        function validateNoAsset() {
            if (primaryId < 1) {
                getLastNoAsset();
            } else {
                console.log('on check no asset!');
                var newPeralatanOSRId = $("#peralatanOSR").val();
                var newJenisId = $("#jenis").val();

                if (selectedPeralatanOSR == newPeralatanOSRId && selectedJenisId == newJenisId && qrCodeYear == $("#year").val()) {
                    if (primaryId > 0) {
                        $("#noAset").val(noAsset);
                    }

                    console.log('generate qr code!');
                    if ($("#noAset").val() !== null && $("#noAset").val() !== "") {
                        kodeInventory = $("#kodeInventory").val();
                        inventoryNumber = kodeInventory + "-" + $("#year").val() + "-" + region + "-" + $("#noAset").val();
                        console.log(inventoryNumber);
                        $("#qrcode-text").val(inventoryNumber);

                        //$.ajax({
                        //    url: generateQRCode(),
                        //    complete: function () {
                        //        console.log(inventoryNumber);
                        //        $("#qrcode-text").val(inventoryNumber);

                        //        var canvas = document.querySelector('canvas');
                        //        var pngUrl = canvas.toDataURL();

                        //        $("#qrcode-value").val(pngUrl);

                        //        $("#submit").show();
                        //    }
                        //});
                        $("#submit").show();
                    } else {
                        $("#submit").hide();
                        inventoryNumber = "";
                    }
                } else {
                    getLastNoAsset();
                }
            }
        }

        $("#jenis").on('change', function () {
            console.log('on jenis change!');
            $("#submit").hide();
            var id = this.value;
            $.ajax({
                url: base_api + "SpesifikasiJenis/GetById?id=" + id,
                method: "GET",
                success: function (result) {
                    $("#kodeInventory").val(result.kodeInventory);
                    validateNoAsset();
                }, complete: function () {
                }
            })
        });

        function generateQRCode() {
            //$('#qrcode').empty();

            //const qrCode = new QRCodeStyling({
            //    width: 300,
            //    height: 300,
            //    type: "canvas",
            //    data: inventoryNumber,
            //    image: "/img/pertamina.png",
            //    dotsOptions: {
            //        color: "#4267b2",
            //        type: "rounded"
            //    },
            //    backgroundOptions: {
            //        color: "#e9ebee",
            //    },
            //    imageOptions: {
            //        crossOrigin: "anonymous",
            //        margin: 5,
            //    }
            //});

            //qrCode.append(document.getElementById("qrcode"));
        }

        $("#year").on("change", function () {
            validateNoAsset();
        });

        if (selectedPeralatanOSR > 0) {
            $.ajax({
                url: base_api + "Home/GetAllSpesifikasiJenisByPeralatanOSR?id=" + selectedPeralatanOSR,
                method: "GET",
                success: function (result) {
                    if (result.data.length > 0) {
                        $('#jenis').find('option').remove().end();
                        var $dropdown = $("#jenis");
                        $.each(result.data, function () {
                            $dropdown.append($("<option />").val(this.id).text(this.jenis));
                        });

                        selectedJenisId = result.data[0].id;
                    }
                }, complete: function () {
                    $("#jenis").val(selectedJenisId).change();
                }
            });
        }

        $("#peralatanOSR").on('change', function () {
            var id = this.value;

            $.ajax({
                url: base_api + "Home/GetAllSpesifikasiJenisByPeralatanOSR?id=" + id,
                method: "GET",
                success: function (result) {
                    if (result.data.length > 0) {
                        $('#jenis').find('option').remove().end();
                        var $dropdown = $("#jenis");
                        $.each(result.data, function () {
                            $dropdown.append($("<option />").val(this.id).text(this.jenis));
                        });

                        selectedJenisId = result.data[0].id;
                    }
                }, complete: function () {
                    $("#jenis").val(selectedJenisId).change();
                }
            })
        });

        $('.generate-qr-code').on('click', function () {

            // Clear Previous QR Code
            $('#qrcode').empty();

            $('#qrcode').css({
                'width': 128,
                'height': 128
            })

            $('#qrcode').qrcode({ width: $('.qr-size').val(), height: $('.qr-size').val(), text: inventoryNumber });

            var canvas = document.querySelector('canvas');
            var pngUrl = canvas.toDataURL();

            //$("#qrcode-value").val(pngUrl);

        });

        $('.select2-input').select2({
            dropdownParent: $('#modal-add-edit')
        });

        $(document).on('submit', '#form-akun', function () {
        var form = $('#form-akun');
        var validation = Array.prototype.filter.call(form, function (form) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            else {
                event.preventDefault();
                var param = new FormParam(
                    form,
                    "Apakah Anda yakin ingin menyimpan akun ini?",
                    '@Url.Action("AddEditLLPTrx")',
                    null,
                    '#modal-add-edit',
                    '#table_llp_trx'
                );
                initApp.formSubmit2(param);
            }
            form.classList.add('was-validated');
        });
    });
    });

</script>
